body {
    background-color: #f8f9fa;
}

.container {
    max-width: 900px;
}

.navbar-brand {
    font-weight: bold;
}

.filter-form {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.filter-form input,
.filter-form select,
.filter-form button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.filter-form button {
    background-color: #688d70;
    color: white;
    cursor: pointer;
}

.filter-form button:hover {
    background-color: #1a271d;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
